.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.7);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  display: flex;
  gap: 15px;
  width: 700px;
  background-color: white;
  padding: 30px;
  padding-top: 50px;
  z-index: 2;
  position: relative;
  text-align: justify;
}

.popup button {
  cursor: pointer;
}

.detail {
  width: 350px;
  padding-top: 20px;
  font-size: 0.8rem;
}

.detail h3,
.detail p {
  margin-bottom: 10px;
}

.detail h3 {
  color: black;
}

.img img {
  width: 350px;
}

.detail button {
  padding: 10px;
  background-color: #383838;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.detail button :last-child {
  margin-left: 5px;
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
