.products {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
  margin-top: 30px;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  background-color: #f8f9fa;
  padding: 0 50px;
}

.banner h2 {
  color: #575757;
  font-size: 1.7rem;
}

.banner h5 {
  color: #727272;
  font-size: 1.1rem;
}
