.services {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  background-color: #f8f9fa;
  padding: 50px 0;
}

.services h4 {
  margin-bottom: 10px;
  font-size: 1.3rem;
  color: black;
}

.subcribe {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  margin-top: 30px;
}

.subcribe h4 {
  margin-bottom: 10px;
  font-size: 1.3rem;
  color: black;
}

.subcribe input,
.subcribe button {
  height: 50px;
}

.subcribe input {
  width: 400px;
  padding-left: 20px;
}

.subcribe button {
  padding: 15px;
  background-color: #383838;
  border: none;
  color: white;
}
